input[type="text"] {
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* media query to adjust for mobile-sized screens */
@media screen and (max-width: 768px) {
    input[type="text"] {
        width: 80%;
      }
  }