header {
  width: 100%;
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  font-size: 50px;
}

.subheading {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: -50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.animal-counts {
  margin-bottom: 20px;
}

.animal-counts span {
  display: inline-block;
  margin-right: 10px;
  background-color: #2980b9;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
