header {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.animal-counts {
  margin-bottom: 20px;
}

.animal-counts span {
  display: inline-block;
  margin-right: 10px;
  background-color: #2980b9;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .filters select {
    width: 100%;
    margin-bottom: 10px;
  }
}
