header {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(2/3 * 1200px);
  max-width: calc(2/3 * 1200px);
  margin-right:auto;
  margin-left:auto;
  padding-left: 50px;
}

.pet-name {
  margin-bottom: 10px;
  font-size: 18px;
}

.pet-info {
  margin-bottom: 5px;
}

.animal-counts {
  margin-bottom: 20px;
}

.animal-counts span {
  display: inline-block;
  margin-right: 10px;
  background-color: #2980b9;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

.filters {
  margin-bottom: 10px;
}

.filters select {
  width: 150px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.filters select:focus {
  outline: none;
  border-color: #3498db;
}

@media only screen and (max-width: 768px) {
  .filters select {
    width: 100%;
    margin-bottom: 10px;
  }
}
